@import "../node_modules/bootstrap/scss/functions";

$primary: #1A73E8;
$secondary: #4285F4;
$success: #34A853;
$light: #FFFFFF;
$body-bg: #F9F9F9;
$bg-body-tertiary: #F9F9F9;
@import '../node_modules/bootstrap/scss/bootstrap';
